<div class="reset-container">
    <mat-card class="reset-card">
        <h1>Reset Password</h1>
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" [disabled]="resetForm.invalid">
                Send Reset Link
            </button>
        </form>
    </mat-card>
    </div>
